ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}

.users  {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 20px;
  border: 1px solid #666;
  border-radius: 5px;
  align-items: center;
}

.users img {
  width: 80%;
  align-self: center;
}

.users h2 a{
  color: #347ccd;
  font-weight: bolder;
}

.users p {
  color: #666;
  font-weight: lighter;
  padding: 5px 5px;
  margin-left: 5px;
}

.users p.available {
  color: #d63131;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.create-form {
  width: 50%;
  margin-left: 5em;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  width: 50%;
  height: 1.5em;
  margin: 3px 3px;
}

form button {
  width: 50px;
  border: none;
  border-radius: 5px;
  background-color: #666;
  color: white;
  margin-top: 10px;
}

.avatar-selection {
  display: flex;
  flex-direction: column;
}

.avatar-selection img {
  width: 40%;
  height: auto;
}
